.App{
  margin: auto;
  width: 450px;
}

.Form{
  display: flex;
}

.Header{
  font-size: 22px;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 15px;
  font-style: initial;
  font-weight: bold;
}

.Form input{
  flex: 1;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  padding-left: 15px;
}

.Form button{
  background-color: blueviolet;
  color: white;
  padding: 15px 30px;
  border: none;
  margin-left: 15px;
  border-radius: 3px;
  cursor: pointer;

}

.todo{
  display: flex;
  justify-content: space-between;
  padding:  15px 0 ;
  border-bottom: 1px solid #E5E5E5;
  align-items: center;
}

.Favorite{
  padding: 0 15px;
}

.Favorite button{
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

.actions{
  padding-right: 15px;
}

.actions button{
  color: red;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
 
}

.selected{
  background-color: blanchedalmond;
}

.selected .Favorite button{
  color: gold;
}
